Language: Cpp
ColumnLimit: 100
IndentWidth: 4
PointerAlignment: Left
AccessModifierOffset: -4
BreakBeforeBraces: Attach
AlwaysBreakTemplateDeclarations: true
UseTab: Never
NamespaceIndentation: All
Cpp11BracedListStyle: true