Language: Cpp
ColumnLimit: 160
IndentWidth: 4
PointerAlignment: Left
AccessModifierOffset: -4
BreakBeforeBraces: Attach
AlwaysBreakTemplateDeclarations: true
TabWidth: 4
UseTab: ForIndentation
NamespaceIndentation: All
Cpp11BracedListStyle: true